a.social {
	transition: transform 250ms;
	display: inline-block;
}
a.social:hover {
	transform: translateY(-2px);
}
a.youtube {
	color: #eb3223;
}

a.facebook {
	color: #4968ad;
}

a.twitter {
	color: #49a1eb;
}

a.instagram {
	color: #ff1493;
}
.Image {
	height: 30px;
	width: 30px;
	margin-top: 2px;
	margin-left: auto;
	margin-right: auto;
}
li {
	display: inline-block;
	float: center;
}
